@include scr-theme-root('messaging') {
  @include mml-component('number') {
    border: $mml-border;
    background: $mml-number-bg;

    // number btn control
    &__btn {
      &--dec {
        margin-left: $mml-number__btn-margin-x;
      }

      &--inc {
        margin-right: $mml-number__btn-margin-x;
      }
    }
  }
}

@include scr-theme-root('messaging.dark') {
  @include mml-component('number') {
    border-color: $mml--dark-border-color;
    background: $mml-number--dark-bg;
  }
}
