@include mml-component('btn') {
  @include mml-button-base();
  margin: $mml-spacer 0;
  background: transparent;
  color: $secondary-color;
  margin-right: $mml-spacer;

  &:focus {
    outline: $mml-button-outline-focus;
  }

  &:hover {
    background: $secondary-color;
    color: white;
  }

  // + .#{mml-component-sel('btn')} {
  //   margin-top: 0;
  // }
}

@include mml-component('btn', 'floating') {
  background: transparent;
  color: $black;
  border: 0;
  box-shadow: $mml-button--floating-shadow;
  font-weight: normal;

  &:hover {
    background: $grey;
  }
}
