@include mml-component('btnlist') {
  display: flex;
  flex-direction: column;
  margin: $mml-spacer 0;
  border: $mml-btnlist-border-thickness solid $mml-btnlist-border-color;
  border-radius: $mml-btnlist-border-radius;
  border-bottom-left-radius: 0;

  @include mml-component('btn') {
    margin: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    border-color: $mml-btnlist-btn-border-color;

    &:last-child {
      border-width: 0;
    }
  }
}

@include mml-component('btnlist', 'floating') {
  @include mml-component('btn') {
  }
}
