@include mml-component('md') {
  position: relative;
  flex: 1;
  display: block;
  min-height: 32px;
  padding: $mml-md-padding-y $mml-md-padding-x;
  color: $mml-md-color;
  background: $mml-md-bg;
  border: $mml-border-width solid $mml-border-color;
  @if $mml-md-font-size != inherit {
    font-size: $mml-md-font-size;
  }

  @include scr-theme('dark') {
    background: $mml-md--dark-bg;
    color: $mml-md--dark-color;
    border-color: $mml--dark-border-color;
  }

  code {
    padding: $mml__code-padding;
    background: $mml__code-bg;
    color: $mml__code-color;
    font-size: $mml__code-font-size;
    font-family: $mml-font-monospace;
  }
}
