@import 'Card';
@import 'CardBody';
@import 'CardHeader';
@import 'Scroller';
@import 'Datepicker';

@include mml-component('scheduler') {
  // scroller has fading edges
  @include mml-component('scroller') {
    height: 217px;
    &:before,
    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      height: 10%;
      min-height: 60px;
    }
    &:before {
      top: 0;
      background-image: linear-gradient(
        to bottom,
        $mml-scheduler-bg--full,
        rgba(255, 255, 255, 0)
      );
    }
    &:after {
      bottom: 0;
      background-image: linear-gradient(
        to top,
        $mml-scheduler-bg--full,
        rgba(255, 255, 255, 0)
      );
    }

    @include scr-theme('dark') {
      &:before {
        background-image: linear-gradient(
          to bottom,
          $mml-scheduler--dark-bg--full,
          rgba(255, 255, 255, 0)
        );
      }
      &:after {
        background-image: linear-gradient(
          to top,
          $mml-scheduler--dark-bg--full,
          rgba(255, 255, 255, 0)
        );
      }
    }
  }
}
