// @import '../vendor/react-datepicker';

@include mml-component('scheduler') {
}

.mml {
  &-scroller {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &-scrollable {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    bottom: 0;
    right: 0;
    // compromise:
    // bottom: -20px;
    // right: -20px;
    // or:
    // IE, Edge and Firefox
    scrollbar-width: none;
    -ms-overflow-style: none;
    // Chrome, Safari and Opera
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.mml-datepicker {
  flex: 1;
  display: flex;

  .mml-scroller {
    height: 217px;
    width: 50%;
  }

  &__item {
    &--selected {
      color: mml-color(primary);
      font-weight: bold;
    }
  }
}
