@include mml-component('scroller') {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    bottom: 0;
    right: 0;
    // IE, Edge and Firefox
    scrollbar-width: none;
    -ms-overflow-style: none;
    // Chrome, Safari and Opera
    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &:focus {
    outline: none;
  }
}
