@include scr-theme-root('commerce') {
  &.str-chat .str-chat__list .str-chat__message-inner,
  &.str-chat .str-chat__list .str-chat__message-simple-inner {
    @include mml-component('carousel') {
      margin-right: -(20px + $mml-str-chat__message--margin-right);
    }
  }
}

@include scr-theme-root('commerce') {
  @include mml-component('carousel-item') {
    // react-pure-carousel elements:
    // -------------------------------------------------------------------------
    .carousel__inner-slide {
      @extend %mml-bordered-area;

      > *:first-child {
        border-top-left-radius: $mml-border-radius !important;
      }
      > *:last-child {
        border-bottom-left-radius: $mml-border-radius !important;
      }
    }
  }
}
