@include mml-theme-root('team') {
  @include mml-component('carousel-item') {
    @include mml-component('image') {
      margin-bottom: $mml-theme-team-margin-y;
    }

    @include mml-component('btn') {
      margin-top: $mml-theme-team-margin-y;
    }
  }

  .str-chat__message-team:hover {
    @include mml-component('carousel-item') {
      @include mml-component('text') {
        background: transparent;
      }
    }
  }
}
