@include mml-component('input') {
  position: relative;
  width: 100%;
  padding: $mml-input-padding-y $mml-input-padding-x;
  -webkit-appearance: none;
  border: $mml-border;
  background: $mml-input-bg;
  color: $mml-input-color;

  &:focus {
    outline: $mml-input-focus-outline;
    color: $mml-input-focus-color;
  }
}
