@include mml-component('input') {
  position: relative;
  width: 100%;
  padding: $mml-input-padding-y $mml-input-padding-x;
  -webkit-appearance: none;
  border: $mml-border;
  background: $mml-input-bg;
  color: $mml-input-color;

  &:focus {
    outline: $mml-input-focus-outline;
    color: $mml-input-focus-color;
  }

  // remove double border when the input has a label
  #{mml-component('card-header')} + & {
    border-top: 0;
  }

  // remove double border when the button is directly below the input, as often
  // is the case with a <mml type="card">
  #{mml-component('card')} & + #{mml-component('btn')} {
    border-top: 0;
  }
}
