@include mml-component('number') {
  flex: 1;
  display: flex;
  background: $mml-number-bg;

  // number count value
  &__count {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 $mml-number__btn-margin-x;
    color: $mml-number__count-color;
    font-weight: $mml-number__count-font-weight;
  }

  // number btn control
  @include mml-component('btn') {
    margin: $mml-number__btn-margin-y $mml-number__btn-margin-x;
  }
}
