@include mml-component('card') {
  max-width: $mml-card-max-width;
  width: 100%;
  overflow: hidden;
  background: $mml-card-bg;

  @include mml-component('btnlist') {
    font-size: $mml-card-body-font-size;
    max-width: none;
    border: 0;
  }

  // everything in the the middle of a card is considered to be card-body
  // > *:not(:first-child):not(:last-child) {
  > #{mml-component('number')} {
    border-width: 0 $mml-card-border-width;
    border-style: $mml-card-border-style;
    border-color: $mml-card-border-color;
  }

  > #{mml-component('btn')} {
    min-width: 100%;
    border: $mml-card-border;

    &:last-child {
      padding: $mml-btnlist__btn-padding-y $mml-btnlist__btn-padding-x;
      border-radius: $mml-border-radius-base;
      border-bottom-right-radius: $mml-border-radius;

      @include mml-me() {
        border-bottom-left-radius: $mml-border-radius;
        border-bottom-right-radius: $mml-border-radius-base;
      }
    }
  }
}
