@import 'messaging';

@include mml-component('card') {
  background: $mml-card-bg;
  overflow: hidden;

  @include scr-theme('dark') {
    background: $mml-card--dark-bg;
  }

  @include mml-component('btnlist') {
    font-size: $mml-card-body-font-size;
  }
}
