@include mml-component('card') {
  @include scr-theme('messaging') {
    border: $mml-border;

    &:not(:last-child) {
      border-bottom: 0;
    }

    @include mml-component('btnlist') {
      border: 0;
    }
  }

  @include scr-theme('messaging.dark') {
    border-color: $mml--dark-border-color;
  }
}
