@include mml-theme-root('commerce') {
  @include mml-component('row') {
    background: $mml-row-bg;
    border: $mml-border;

    &:last-child {
      border-bottom-right-radius: $mml-border-radius;
      border-bottom-left-radius: $mml-border-radius-base;
    }

    @include mml-component('text') {
      border: 0;
      background: none;
    }
  }
}

@include mml-theme-root('commerce.dark') {
  @include mml-component('row') {
    background: $mml-row--dark-bg;
    border-color: $mml--dark-border-color;

    @include mml-component('text') {
      border: 0;
      background: none;
    }
  }
}
