@include mml-theme-root('team') {
  @include mml-component('row') {
    border-left: $mml-border;
    color: $mml-theme-team-border-color;
    background: $mml-text-bg;
    margin-top: $mml-theme-team-margin-y;

    + .#{$mml-prefix}row {
      margin-top: 0;
    }

    @include mml-component('text') {
      border: 0;
    }
  }
}
