@include mml-component('card-header') {
  display: flex;
  align-items: center;
  padding: $mml-card-header-padding-y 0;
  font-size: $mml-card-header-font-size;
  color: $mml-card-header-color;
  background: $mml-card-header-bg;

  // @include mml-component('icon') {}

  &__text {
    padding-left: $mml-card-header-padding-x;
    font-weight: $mml-card-header-font-weight;
  }
}
