@import 'messaging';

@include mml-component('card-header') {
  display: flex;
  align-items: center;
  padding: $mml-card-header-padding-y $mml-card-header-padding-x;
  font-size: $mml-card-header-font-size;
  @include scr-theme('dark') {
    color: $mml-card-header--dark-color;
  }

  @include mml-component('icon') {
    opacity: $mml-card-header-opacity;

    @include scr-theme('dark') {
      opacity: $mml-card-header--dark-opacity;
    }
  }

  &__text {
    font-weight: bold;
    padding-left: $mml-card-header-padding-x;
    opacity: $mml-card-header-opacity;

    @include scr-theme('dark') {
      opacity: $mml-card-header--dark-opacity;
    }
  }
}
