@include mml-component('card-header') {
  @include scr-theme('messaging') {
    background: $mml-card-header-bg;
    border-bottom: $mml-border;
  }

  @include scr-theme('messaging.dark') {
    border-color: $mml--dark-border-color;
    background: $mml-card-header--dark-bg;
  }
}
