@include mml-component('text') {
  position: relative;
  flex: 1;
  display: block;
  margin: ($mml-text-margin-y / 2) 0;
  padding: $mml-text-padding-y $mml-text-padding-x;
  border: $mml-border-width $mml-border-style $mml-text-border-color;
  background: $mml-text-bg;
  color: $mml-text-color;
  @if $mml-text-font-size != inherit {
    font-size: $mml-text-font-size;
  }

  + * {
    margin-top: $mml-text-margin-y / 2;
  }

  @include mml-me() {
    background: $mml-text-bg--me;
  }
}
