@include mml-component('text') {
  position: relative;
  flex: 1;
  display: block;
  min-height: 32px;
  padding: $mml-text-padding-y 0;
  color: $mml-text-color;
  margin: 0;
  @if $mml-text-font-size != inherit {
    font-size: $mml-text-font-size;
  }
}
