@include mml-component('text') {
  margin: ($mml-text-margin-y / 2) 0;
  color: $mml-text-color;
  @if $mml-text-font-size != inherit {
    font-size: $mml-text-font-size;
  }

  + * {
    margin-top: $mml-text-margin-y / 2;
  }
}
