@include mml-component('text') {
  position: relative;
  flex: 1;
  display: block;
  min-height: 32px;
  padding: $mml-text-padding-y $mml-text-padding-x;
  border-radius: $mml-border-radius $mml-border-radius $mml-border-radius 0;
  border: $mml-border;
  color: $mml-text-color;
  background: $mml-text-bg;
  @if $mml-text-font-size != inherit {
    font-size: $mml-text-font-size;
  }

  @include scr-theme('dark') {
    background: $mml-text--dark-bg;
    color: $mml-text--dark-color;
    border-color: $mml--dark-border-color;
  }
}

// this overrides some stream-chat-react styling causing unnecessary vertical
// distancing
.str-chat__message-simple p.#{$mml-prefix}text {
  white-space: normal;
}
