@import 'messaging';
@import 'team';

@include mml-component('text') {
  position: relative;
  flex: 1;
  display: block;
  min-height: 32px;
  padding: $mml-text-padding-y 0;
  color: $mml-text-color;
  @if $mml-text-font-size != inherit {
    font-size: $mml-text-font-size;
  }

  @include scr-theme('dark') {
    color: $mml-text--dark-color;
  }
}

// this overrides some stream-chat-react styling causing unnecessary vertical
// distancing
.str-chat__message-simple p.#{$mml-prefix}text {
  white-space: normal;
}
