@include scr-theme-root('team') {
  @include mml-component('text') {
    padding: 0 0 0 $mml-text-padding-x;
    border-left: $mml-border;
    background: $mml-text-bg;
    color: #404040;

    &:hover {
      background: mml-color(grey-50-inverse);
    }
  }

  .str-chat__message-team:hover {
    @include mml-component('text') {
      background: mml-color(grey-50-inverse);
    }
  }
}

@include scr-theme-root('team.dark') {
  @include mml-component('text') {
    border-color: $mml--dark-border-color;
    background: $mml-text--dark-bg;

    &:hover {
      background: mml-color(grey-200);
    }
  }
}
