@import '../components/AddToCalendar/themes/messaging';
@import '../components/Button/themes/messaging';
@import '../components/ButtonList/themes/messaging';
@import '../components/Card/themes/messaging';
@import '../components/CardBody/themes/messaging';
@import '../components/CardHeader/themes/messaging';
@import '../components/Carousel/themes/messaging';
@import '../components/Col/themes/messaging';
@import '../components/Datepicker/themes/messaging';
@import '../components/Error/themes/messaging';
@import '../components/Icon/themes/messaging';
@import '../components/Image/themes/messaging';
@import '../components/Input/themes/messaging';
@import '../components/Loader/themes/messaging';
@import '../components/MD/themes/messaging';
@import '../components/Number/themes/messaging';
@import '../components/Row/themes/messaging';
@import '../components/Scheduler/themes/messaging';
@import '../components/Scroller/themes/messaging';
@import '../components/Success/themes/messaging';
@import '../components/Text/themes/messaging';

@include mml-theme-root('messaging') {
  .str-chat__attachment-mml {
    &:not(:last-child) {
      margin: 1px 0 3px;
    }
    &:last-child {
      margin-bottom: $mml-spacer;
    }

    // the attachment-mml might be followed by another message, and despite this
    // the wrapper <li> around it would still have the class `--single`:
    // <li class="str-chat__li str-chat__li--single">
    // therefore we need to undo the border-radius of all the following messages
    ~ .str-chat__message-text {
      .str-chat__message-text-inner {
        border-top-left-radius: $mml-border-radius-base;
      }
    }
  }

  .mml-wrap {
    @extend %mml-bordered-area;
  }
}
