// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i');

.str-chat__attachment-mml {
  &:not(:last-child) {
    margin: 1px 0 3px;
  }
  &:last-child {
    margin-bottom: $mml-spacer;
  }

  // the attachment-mml might be followed by another message, and despite this
  // the wrapper <li> around it would still have the class `--single`:
  // <li class="str-chat__li str-chat__li--single">
  // therefore we need to undo the border-radius of all the following messages
  ~ .str-chat__message-text {
    .str-chat__message-text-inner {
      border-top-left-radius: $mml-border-radius-base;
    }
  }
}

.mml-wrap {
  @extend %mml-bordered-area;
}
