@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import './attachment.scss';

.mml-carousel {
  width: 350px;
}

.mml-narrow {
  max-width: 300px;
}

.mml-wide {
  max-width: 600px;
}

.mml-syntax {
  font-size: 0.4em;
}

.mml-container {
  box-sizing: border-box;

  width: 100%;
}

.mml-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
  border-radius: 5px;
  width: 500px;
}

.mml-selectlist {
  width: 200px;
}

.mml-align-left {
  text-align: left;
}

.mml-align-center {
  text-align: center;
}

.mml-align-right {
  text-align: right;
}

.mml-selectlist button.mml-btn {
  display: block;
  width: 100%;
}

.mml-container button.mml-btn {
  color: black;
  border: 2px solid #e7e7e7;
  background-color: white;
  padding: 7px 20px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}

.mml-container button.mml-btn:hover {
  background: #e7e7e7;
}

.mml-container input {
  margin: 10px;
}

.mml-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mml-error {
  color: red;
}

.mml-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* 1/12 */
.mml-col-1 {
  width: 8.33%;
}

/* 2/12 */
.mml-col-2 {
  width: 16.66%;
}

/* 3/12 */
.mml-col-3 {
  width: 25%;
}

/* 4/12 */
.mml-col-4 {
  width: 33%;
}

/* 5/12 */
.mml-col-5 {
  width: 41.66%;
}

/* 6/12 */
.mml-col-6 {
  width: 50%;
}

/* 7/12 */
.mml-col-7 {
  width: 58.33%;
}

/* 8/12 */
.mml-col-8 {
  width: 66.66%;
}

/* 9/12 */
.mml-col-9 {
  width: 75%;
}

/* 10/12 */
.mml-col-10 {
  width: 83.33%;
}

/* 11/12 */
.mml-col-11 {
  width: 91.66%;
}

/* 12/12 */
.mml-col-12 {
  width: 100%;
}

/* 1/12 */
.mml-offset-1 {
  margin-left: 8.33%;
}

/* 2/12 */
.mml-offset-2 {
  margin-left: 16.66%;
}

/* 3/12 */
.mml-offset-3 {
  margin-left: 25%;
}

/* 4/12 */
.mml-offset-4 {
  margin-left: 33%;
}

/* 5/12 */
.mml-offset-5 {
  margin-left: 41.66%;
}

/* 6/12 */
.mml-offset-6 {
  margin-left: 50%;
}

/* 7/12 */
.mml-offset-7 {
  offset: 58.33%;
}

/* 8/12 */
.mml-offset-8 {
  margin-left: 66.66%;
}

/* 9/12 */
.mml-offset-9 {
  margin-left: 75%;
}

/* 10/12 */
.mml-offset-10 {
  margin-left: 83.33%;
}

/* 11/12 */
.mml-offset-11 {
  margin-left: 91.66%;
}
