$mml-theme: (
  primary-accent: #19a0ff,
  app-canvas: #fff,
  text-high-emphasis: #2c2c30,
  text-mid-emphasis: #7ba0bb,
  text-low-emphasis: #85cdff,
  text-self: #2c2c30,
  text-pressed: #fff,
  card-bg: #fff,
  card-alt-bg: #f1faff,
  card-self-bg: #b3e0ff,
  stroke: #bed5e4,
  stroke-low-emphasis: #d9e1e6,
  shadow: 0px 2px 5px rgba(190, 213, 228, 0.5),
) !default;

@import 'index';
