$mml-theme: (
  primary-accent: #4e1d9d,
  app-canvas: #fff,
  text-high-emphasis: #2e2c30,
  text-mid-emphasis: #7c61a8,
  text-low-emphasis: #9f8bbf,
  text-self: #fff,
  text-pressed: #fff,
  card-bg: #fff,
  card-alt-bg: #f9f5ff,
  card-self-bg: #3e177e,
  stroke: #eaeaea,
  stroke-low-emphasis: #cccccc,
  shadow: 0px 2px 5px rgba(0, 0, 0, 0.08),
) !default;

@import 'index';
