@include mml-component('btn') {
  @include mml-button-base();
  max-width: $mml-btn-max-width;
  margin: 0;

  // Modifier: grounded (default)
  // ---------------------------------------------------------------------------
  // &--grounded {
  // }

  // Modifier: floating (through props)
  // ---------------------------------------------------------------------------
  &--floating {
    box-shadow: $mml-btn--floating-shadow;
  }

  // Modifier: with icon
  // ---------------------------------------------------------------------------
  &--with-icon {
    @include mml-component('icon') {
      margin-right: $mml-btn--icon-distance-x;
    }
  }

  // Modifier: only icon
  // ---------------------------------------------------------------------------
  &--icon {
    padding: $mml-btn--icon-padding;
    border-radius: $mml-btn--icon-border-radius;

    // only applies if we can't inherit
    @if $mml-btn--icon-size != $mml-icon-size {
      @include mml-component('icon') {
        font-size: $mml-btn--icon-size;
      }
    }
  }
}
