@include mml-component('btn') {
  @include mml-button-base();
  width: 100%;
  margin: 0;
  color: $mml-btn-color;
  background: $mml-btn-bg;
  // border-color: $mml-btn-border-color;

  @include mml-me() {
    max-width: $mml-btnlist-max-width;
    margin-left: auto;
  }

  &:hover,
  &:focus {
    color: $mml-btn-hover-color;
    background: $mml-btn-hover-bg;
    border-color: $mml-btn-hover-border-color;
  }

  &[disabled] {
    color: $mml-btn-disabled-color;
    background: $mml-btn-disabled-bg;
    border-color: $mml-btn-disabled-border-color;
  }
}

@include mml-component('btn', 'floating') {
  width: auto;
  max-width: none;
  margin-right: auto;
  border-radius: $mml-btn--floating-border-radius;
  box-shadow: $mml-btn--floating-shadow;
}
