@import 'messaging';

@include mml-component('btn') {
  @include mml-button-base();
  width: 100%;
  margin: 0;
  background: $mml-btn-bg;
  color: $mml-btn-color;

  @include scr-theme('dark') {
    background: $mml-btn--dark-bg;
    color: $mml-btn--dark-color;
    border-color: $mml--dark-border-color;
  }

  &:hover {
    background: $mml-btn-hover-bg;
    color: $mml-btn-hover-color;

    @include scr-theme('dark') {
      background: $mml-btn--dark-hover-bg;
      color: $mml-btn--dark-hover-color;
    }
  }
}

@include mml-component('btn', 'floating') {
  width: auto;
  border-radius: $mml-btn--floating-border-radius;
  background: $mml-btn--floating-bg;
  color: $mml-btn--floating-color;
  border: 0;
  box-shadow: $mml-btn--floating-shadow;
  font-weight: normal;

  &:hover {
    background: $mml-btn--floating-hover-bg;
  }
}
