@include mml-theme-root('livestream') {
  @include mml-component('btnlist') {
    @include mml-component('btn') {
      border-width: $mml-border-width;
      border-radius: $mml-theme-livestream-border-radius;
    }
  }
}

@include mml-theme-root('livestream.dark') {
  @include mml-component('btnlist') {
    @include mml-component('btn') {
    }
  }

  @include mml-component('btnlist', 'floating') {
    @include mml-component('btn') {
      border-radius: $mml-btn--floating-border-radius;
    }
  }
}
