@include mml-theme-root('messaging') {
  @include mml-component('btnlist') {
    border: $mml-border;

    @include mml-component('btn') {
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

@include mml-theme-root('messaging.dark') {
  @include mml-component('btnlist') {
    border-color: $mml--dark-border-color;
    background: $mml-btnlist--dark-bg;

    @include mml-component('btn') {
      border-color: $mml--dark-border-color;
    }
  }
}
