@include mml-theme-root('team') {
  @include mml-component('btnlist') {
    margin: $mml-theme-team-margin-y 0 0;
    border-left: $mml-border;

    @include mml-component('btn') {
      margin-top: 0;
      margin-bottom: 0;

      &:last-child {
        border-bottom: 0;
      }
    }

    @include mml-component('btn', 'floating') {
      margin-bottom: 6px; // leave space to the floating shadows
    }
  }
}

@include mml-theme-root('team.dark') {
  @include mml-component('btnlist') {
    border-left-color: $mml-theme-team--dark-border-color;
  }
}
