// space for some basic styling

// most wrapper container
.mml-container {
  font-family: $mml-font-base;

  * {
    box-sizing: border-box;
  }
}

// flexible inner container
.mml-wrap {
  display: flex;
  flex-direction: column;
  @extend %mml-bordered-area;
}
