//
// MML bordered area
//
// Automatically manages the border of its immediate children
//
// -----------------------------------------------------------------------------
%mml-bordered-area {
  > *:not(.mml--floating) {
    border-radius: $mml-border-radius;
  }

  > *:last-child:not(.mml--floating) {
    border-bottom-left-radius: $mml-border-radius-base;
    border-bottom-right-radius: $mml-border-radius;

    @include mml-me() {
      border-bottom-left-radius: $mml-border-radius;
      border-bottom-right-radius: $mml-border-radius-base;
    }
  }

  > .mml--floating:last-child {
    border-width: $mml-border-width 0 0 0;
  }
}
