@include mml-theme-root('messaging') {
  @include mml-component('card') {
    border: $mml-border;
    background: $mml-card-bg;

    &:not(:last-child) {
      border-bottom: 0;
    }

    @include mml-component('btnlist') {
      border: 0;
    }
  }
}

@include mml-theme-root('messaging.dark') {
  @include mml-component('card') {
    background: $mml-card--dark-bg;
    border-color: $mml--dark-border-color;
  }
}
