@include mml-component('success') {
  display: flex;
  justify-content: center;
  padding: $mml-success-spacer;
  color: $mml-success-color;
  font-size: $mml-success-font-size;

  @include mml-theme('dark') {
    color: $mml-success--dark-color;
  }
}
