@include mml-component('btnlist') {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: $mml-btnlist-max-width;
  border: $mml-btnlist-border-width $mml-border-style $mml-btnlist-border-color;
  background: $mml-btnlist-bg;

  @include mml-component('btn') {
    width: 100%;
    max-width: none;
    margin: 0;
    // reset all btn padding coherently (we might have a mml-btn--icon that use
    // a different padding by default)
    padding: $mml-btnlist__btn-padding-y $mml-btnlist__btn-padding-x;
    // just apply a bottom border to inner buttons
    border-width: 0 0 $mml-btnlist-border-width 0;
    border-radius: 0;
    border-color: $mml-btnlist-border-color;

    // inherit background from parent because border radius is applied there
    &:not(:hover):not(:focus) {
      background: none;
    }

    &:last-child {
      border-width: 0;
    }

    &--with-icon {
      justify-content: flex-start;
      @if $mml-btnlist__btn--with-icon-font-weight != $mml-btn-font-weight {
        font-weight: $mml-btnlist__btn--with-icon-font-weight;
      }

      &:not(:hover):not(:focus) {
        // only apply rules if we can't inherit them
        @if $mml-btnlist__btn--with-icon-color != $mml-btn-color {
          color: $mml-btnlist__btn--with-icon-color;
        }
      }
    }
  }

  // Context: me message
  // ---------------------------------------------------------------------------
  @include mml-me() {
    margin-left: auto;
  }
}

// Variant: floating
// -----------------------------------------------------------------------------
@include mml-component('btnlist', 'floating') {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: none;
  border: 0;
  max-width: none;

  @include mml-component('btn') {
    width: auto;
    margin: $mml-spacer / 2;
    // restore all the background and borders in floating button list child buttons
    background: $mml-btn-bg;
    border-width: $mml-btnlist-border-width;
    border-radius: $mml-btn-border-radius;
    border-color: $mml-btn-border-color;

    &:last-child {
      border-width: $mml-btnlist-border-width;
    }
  }
}
