// most outer container (always present on `<mml>` outer element)
// -----------------------------------------------------------------------------
@include mml-component('container') {
  font-family: $mml-font-base;
  line-height: $mml-line-height;

  * {
    box-sizing: border-box;
  }
}

// inner container, it is alwyas present in the HTML structure
// -----------------------------------------------------------------------------
@include mml-component('wrap') {
  display: flex;
  flex-direction: column;

  // positioning, some components have a max-width, this auto margin will
  // correctly align them on the sides of the chat container
  > *:not(#{mml-component('carousel')}):not(#{mml-component('btnlist--floating')}) {
    @include mml-other() {
      margin-right: auto;
    }

    @include mml-me() {
      margin-left: auto;
    }
  }

  // all immediate children of the `mml-wrap` element have rounded borders
  > * {
    border-radius: $mml-border-radius;
  }

  // the last immediate children of `mml-wrap` element have the final
  // border radius tweaked according to the position me (left/right) in the chat
  > *:last-child:not(#{mml-component('btn')}) {
    @include mml-other() {
      border-bottom-left-radius: $mml-border-radius-base;
    }

    @include mml-me() {
      border-bottom-right-radius: $mml-border-radius-base;
    }
  }
}
