@import '../Card/base';
@import '../CardBody/base';
@import '../CardHeader/base';
@import '../Datepicker/base';

@include mml-component('scheduler') {
  @include mml-component('datepicker') {
    height: $mml-scheduler-datepicker-height;
    background: $mml-card-body-bg;
  }

  @include mml-component('datepicker__select') {
    position: relative;

    &:before,
    &:after {
      content: '';
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      height: 10%;
      min-height: 60px;
      pointer-events: none;
    }
    &:before {
      top: 0;
      background-image: linear-gradient(to bottom, $mml-card-body-bg, rgba(255, 255, 255, 0));
    }
    &:after {
      bottom: 0;
      background-image: linear-gradient(to top, $mml-card-body-bg, rgba(255, 255, 255, 0));
    }
  }
}
