$str-chat__list--messaging-padding-right: 40px;
$str-chat__list--commerce-padding-right: 20px;
$str-chat__list--livestream-padding-right: 10px;
$str-chat__message--margin-right: 90px;

@include mml-component('carousel') {
  margin: $mml-carousel-margin-y 0;

  // various negative calculations to push the carousel to the right edge:
  // ---------------------------------------------------------------------------
  .str-chat__list .str-chat__message-inner &,
  .str-chat__list .str-chat__message-simple-inner & {
    margin-right: -$str-chat__message--margin-right;
  }

  .commerce.str-chat .str-chat__list .str-chat__message-inner &,
  .commerce.str-chat .str-chat__list .str-chat__message-simple-inner & {
    margin-right: -($str-chat__list--commerce-padding-right +
          $str-chat__message--margin-right);
  }

  .livestream.str-chat .str-chat__list .str-chat__message-inner &,
  .livestream.str-chat .str-chat__list .str-chat__message-simple-inner & {
    margin-right: -($str-chat__list--livestream-padding-right +
          $str-chat__message--margin-right);
  }

  @media screen and (min-width: 420px) {
    .messaging.str-chat .str-chat__list .str-chat__message-inner &,
    .messaging.str-chat .str-chat__list .str-chat__message-simple-inner & {
      margin-right: -($str-chat__list--messaging-padding-right +
            $str-chat__message--margin-right);
    }
  }
}

@include mml-component('carousel-item') {
  padding-right: $mml-carousel__item-gutter-x;

  // react-pure-carousel elements:
  // ---------------------------------------------------------------------------
  .carousel__inner-slide {
    display: flex;
    flex-direction: column;
    @extend %mml-bordered-area;

    > *:first-child {
      border-top-left-radius: $mml-border-radius !important;
    }
    > *:last-child {
      border-bottom-left-radius: $mml-border-radius !important;
    }

    @include mml-component('text') {
      flex: 10;
      font-size: $mml-carousel__text-font-size;
    }
  }
}
