@import 'variables';

////////////////////////////////////////////////////////////////////////////////
///
/// stream-chat-react theme: messaging
///
////////////////////////////////////////////////////////////////////////////////
@include mml-stream-chat-react('messaging') {
  .str-chat__attachment-mml {
    &:not(:last-child) {
      margin: 1px 0 3px;
    }
    &:last-child {
      margin-bottom: $mml-spacer;
    }

    // the attachment-mml might be followed by another message, and despite this
    // the wrapper <li> around it would still have the class `--single`:
    // <li class="str-chat__li str-chat__li--single">
    // therefore we need to undo the border-radius of all the following messages
    ~ .str-chat__message-text {
      .str-chat__message-text-inner {
        border-top-left-radius: $mml-border-radius-base;
      }
    }
  }

  /// Component: btnlist
  /// __________________________________________________________________________
  @include mml-component('btnlist') {
    border: $mml-border;

    @include mml-component('btn') {
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  /// Component: card
  /// __________________________________________________________________________
  @include mml-component('card') {
    border: $mml-border;

    &:not(:last-child) {
      border-bottom: 0;
    }

    @include mml-component('btnlist') {
      border: 0;
    }
  }

  /// Component: carousel
  /// __________________________________________________________________________
  &.str-chat .str-chat__list .str-chat__message-inner,
  &.str-chat .str-chat__list .str-chat__message-simple-inner {
    @include mml-component('carousel') {
      @media screen and (min-width: 420px) {
        margin-right: -(40px + $mml-str-chat__message--margin-right);
      }
    }
  }

  /// Component: carousel-item
  /// __________________________________________________________________________
  @include mml-component('carousel-item') {
    // react-pure-carousel elements:
    .carousel__inner-slide {
      > *:first-child {
        border-top-left-radius: $mml-border-radius !important;
      }
      > *:last-child {
        border-bottom-left-radius: $mml-border-radius !important;
      }
    }
  }

  /// Component: md
  /// __________________________________________________________________________
  @include mml-component('md') {
    color: $mml-md-color;
  }

  /// Component: number
  /// __________________________________________________________________________
  @include mml-component('number') {
    border: $mml-border;
    background: $mml-number-bg;

    // number btn control
    &--dec {
      margin-left: $mml-number__btn-margin-x;
    }

    &--inc {
      margin-right: $mml-number__btn-margin-x;
    }
  }

  /// Component: row
  /// __________________________________________________________________________
  @include mml-component('row') {
    background: $mml-row-bg;
    border: $mml-border;

    &:last-child {
      border-bottom-right-radius: $mml-border-radius;
      border-bottom-left-radius: $mml-border-radius-base;
    }

    @include mml-component('text') {
      border: 0;
      background: none;
    }
  }

  /// Component: scheduler
  /// __________________________________________________________________________
  @include mml-component('scheduler') {
    // datepicker has fading edges
    @include mml-component('datepicker__select') {
      -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
      mask-image: gradient(linear, left 90%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

      &:before,
      &:after {
        content: '';
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        height: 10%;
        min-height: 60px;
      }
      &:before {
        top: 0;
        background-image: linear-gradient(to bottom, $mml-str-scheduler-bg--full, rgba(255, 255, 255, 0));
      }
      &:after {
        bottom: 0;
        background-image: linear-gradient(to top, $mml-str-scheduler-bg--full, rgba(255, 255, 255, 0));
      }
    }
  }

  /// Component: text
  /// __________________________________________________________________________
  @include mml-component('text') {
    padding: $mml-text-padding-y $mml-text-padding-x;
    border-radius: $mml-border-radius $mml-border-radius $mml-border-radius 0;
    border: $mml-border;
    background: $mml-text-bg;
  }
}

////////////////////////////////////////////////////////////////////////////////
///
/// stream-chat-react theme: messaging.dark
///
////////////////////////////////////////////////////////////////////////////////
@include mml-stream-chat-react('messaging.dark') {
  /// Component: btn
  /// __________________________________________________________________________
  @include mml-component('btn') {
    background: $mml-str-btn--dark-bg;
    border-color: $mml-str--dark-border-color;

    &:hover {
      background: $mml-str-btn--dark-hover-bg;
    }
  }

  /// Component: btnlist
  /// __________________________________________________________________________
  @include mml-component('btnlist') {
    border-color: $mml-str--dark-border-color;
    background: $mml-str-btnlist--dark-bg;

    @include mml-component('btn') {
      border-color: $mml-str--dark-border-color;
    }
  }

  /// Component: card
  /// __________________________________________________________________________
  @include mml-component('card') {
    background: $mml-str-card--dark-bg;
    border-color: $mml-str--dark-border-color;
  }

  /// Component: card-header
  /// __________________________________________________________________________
  @include mml-component('card-header') {
    border-color: $mml-str--dark-border-color;
    background: $mml-str-card-header--dark-bg;
  }

  /// Component: md
  /// __________________________________________________________________________
  @include mml-component('md') {
    background: $mml-str-md--dark-bg;
    color: $mml-str-md--dark-color;
    border-color: $mml-str--dark-border-color;
  }

  /// Component: number
  /// __________________________________________________________________________
  @include mml-component('number') {
    border-color: $mml-str--dark-border-color;
    background: $mml-str-number--dark-bg;
  }

  /// Component: row
  /// __________________________________________________________________________
  @include mml-component('row') {
    background: $mml-str-row--dark-bg;
    border-color: $mml-str--dark-border-color;

    @include mml-component('text') {
      border: 0;
      background: none;
    }
  }

  /// Component: scheduler
  /// __________________________________________________________________________
  @include mml-component('scheduler') {
    // datepicker has fading edges
    @include mml-component('datepicker__select') {
      &:before {
        background-image: linear-gradient(to bottom, $mml-str-scheduler--dark-bg, rgba(255, 255, 255, 0));
      }
      &:after {
        background-image: linear-gradient(to top, $mml-str-scheduler--dark-bg, rgba(255, 255, 255, 0));
      }
    }
  }

  /// Component: text
  /// __________________________________________________________________________
  @include mml-component('text') {
    background: $mml-str-text--dark-bg;
    border-color: $mml-str--dark-border-color;
  }
}
