@import 'variables';

///
/// stream-chat-react generic mml tweaks
///

/// Component: carousel
/// ____________________________________________________________________________
@include mml-component('carousel') {
  // negative offset to push the carousel to the right edge:
  .str-chat__list .str-chat__message-inner &,
  .str-chat__list .str-chat__message-simple-inner & {
    margin-right: -$mml-str-chat__message--margin-right;
  }
}

/// Component: icon
/// ____________________________________________________________________________
.str-chat .material-icons {
  font-family: 'Material Icons';
}

/// Component: text
/// ____________________________________________________________________________
// this overrides some stream-chat-react styling causing unnecessary vertical
// distancing
.str-chat__message-simple p.#{$mml-prefix}text {
  white-space: normal;
}
