@include scr-theme-root('commerce') {
  @include mml-component('md') {
    min-height: 32px;
    padding: $mml-md-padding-y $mml-md-padding-x;
    color: $mml-md-color;
    background: $mml-md-bg;
    border: $mml-border;
  }
}

@include scr-theme-root('commerce.dark') {
  @include mml-component('md') {
    background: $mml-md--dark-bg;
    color: $mml-md--dark-color;
    border-color: $mml--dark-border-color;
  }
}
