@include mml-component('row') {
  @include mml-row();
  background: $mml-row-bg;
  border: $mml-border;

  &:last-child {
    border-bottom-right-radius: $mml-border-radius;
    border-bottom-left-radius: $mml-border-radius-base;
  }

  @include scr-theme('dark') {
    background: $mml-row--dark-bg;
    border-color: $mml--dark-border-color;
  }

  @include mml-component('text') {
    border: 0;
    background: none;

    @include scr-theme('dark') {
      border: 0;
      background: none;
    }
  }
}
